$black = #222;
$grey = #999;
$blue = #0059AE;
$red = #DB0031;
$yellow = #FF8F00;
$green = #00BF4D;

.container {
	border-bottom:1px solid #ddd;
	color: $blue;
}
.containerActive {
	@extend .container;
	background:#f9f9f9;	
}

.head {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height:65px;
	padding:9px;
}
	.pos {
		flex:none;
		min-width:45px;
		max-width:70px;
		width:5%;
		font-size:1.2rem;
		text-align: left;
		color:$red;
	}
	.nameContainer {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		min-width:280px;
		width:65%;
		margin-right:10px;
	}
		.brewerWrapper {
			color:$black;
			display: flex;
			align-items: center;
		}
			.brewer {
				flex:0 1 auto;
				font-size:1.1rem;
				display:inline-block;
				overflow:hidden;
				white-space: nowrap;
				text-overflow:ellipsis;
			}
			.state {
				flex:0;
				font-size:0.8rem;
				vertical-align:super;
			}
		.name {
		}
	.styleContainer {
		min-width:180px;
		width:30%;
		color:$black;
	}
		.style {
			font-size:0.9rem;
			max-width:100%;
			margin-bottom:5px;
			overflow:hidden;
			white-space: nowrap;
			text-overflow:ellipsis;
			color:$blue;
		}
		.abvContainer {
			display: flex;
			justify-content: space-between;
		}
			.abv {

			}
			.cost {

			}
			.glass {
				font-size:0.8rem;
			}
			.level {
				width:auto;
				display: inline-block;
				border:1px solid $grey;
				border-radius: 3px;
				padding:0 5px;
				color:#fff;
				font-size:0.8rem;
				line-height:1rem;
			}
			.level--med {
				@extend .level;
				border-color: darken($yellow, 10%);
				background: $yellow;
			}
			.level--easy {
				@extend .level;
				border-color: darken($green, 10%);
				background: $green;
			}
			.level--hard {
				@extend .level;
				border-color: darken($red, 10%);
				background: $red;
			}
			.toggle {
				margin-left:10px;
				display: flex;
				align-items: center;
			}
				.toggleButton {
					cursor: pointer;
				}
.body {
	padding:10px 20px 20px;
	color:$black;
	font-size:.9rem;
}
	.character {
	}
	.desc {

	}
